*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff; /* insert colors */
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: 'Poppings', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}
 
a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    /* hover color for the button */
    color: var(--primary-color);
}

.navbar ul li a i {
    /* space between icon and name */
    margin-right: 5px;
}

.navbar ul li:last-child a {
    /* space between contact and partners */
    margin-left: 10px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    /* makes color lighter for buttons */
    opacity: 0.8; 
}

/* different color buttons. To use this insert it into our inderx.html */
.btn-primary {
    background: var(--primary-color);
    color:#fff;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

